<html>
<head>
    
</head>
<body style="background-color:yellow;">
<h1 style="font-size:500pt;font-family:Comic Sans MS;color:orange">Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
</body>
</html>