<!Doctype html>
<html>
    <head>
        
    </head>
    <body style="background-color:yellow;padding:100pt;">
        <div style="text-align:center">
        <h1> yay el sandwich...o...SPANISH</h1>
        <p style="color:green">you can go to spanish speaking countries in dreams... </p>
        <p style="color:orange;font-size:8pt"> you can also see pretty colors in your dreams! </p>
        <p style="color:purple;font-family:Comic Sans MS;font-size:8pt;text-align:right">do you hate me yet?</p>
        <marquee scrollamount=256><%= link_to "sleep questions yay!!!!!!!!!!!!!!!!!!!!!!!!!!!!!", posts_path %></marquee>
        </div>
    </body>
</html>

